[submodule ".vimmodules/vim-gitgutter"]
	path = .vimmodules/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vimmodules/vim-airline"]
	path = .vimmodules/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vimmodules/vim-vividchalk"]
	path = .vimmodules/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule ".vimmodules/vim-pathogen"]
	path = .vimmodules/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vimmodules/vim-eunuch"]
	path = .vimmodules/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".vimmodules/vim-fugitive"]
	path = .vimmodules/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vimmodules/vim-syntastic"]
	path = .vimmodules/vim-syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vimmodules/vim-gnupg"]
	path = .vimmodules/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule ".vimmodules/vim-supertab"]
	path = .vimmodules/vim-supertab
	url = git@github.com:ervandew/supertab.git
[submodule ".vimmodules/vim-snippets"]
	path = .vimmodules/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule ".vimmodules/vim-tlib"]
	path = .vimmodules/vim-tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vimmodules/vim-addon-mw-utils"]
	path = .vimmodules/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vimmodules/vim-snipmate"]
	path = .vimmodules/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
